body{ background-color: black;
display: flex;
height: 100vh;
justify-content: center;
align-items: center;
}



.main-container {
    display: flex;
    background-image: linear-gradient(#292C35,#20222B);
    width: 400px;
    height: 400px;
    border-radius: 20px;    
}

.icon-container img{
    background-color: #2E3138;
    padding: 15px;
    border-radius: 50%;
}

.contents{
    padding: 30px;
    display: flex;
    flex-direction: column;
    color: white;
}

p{
    line-height: 22px;
}

.numberings{
    display: flex;
    justify-content: space-between;
}

.figures{
    border-radius: 100%;
    padding: 5%;
    height: 8px;
    background-color:#272E38 ;
    color: #52575f;
    line-height: 0%;
    align-content: center;
}

.figures:hover{
    cursor: pointer;
    background-color:#DC7C35;
    color: #EFCFADy;
}

.sub:hover{
    cursor: pointer;
}
    

button{
    padding: 20px;
    border-radius: 50px;
    letter-spacing: 5px;
    background-color:#DC7C35 ;
    color: #EFCFAD;
    border: none;
}